*.prj
*.stx
*.xst
*.lso
xst



.lso
xst.xmsgs
fuse.log
isim
isim.cmd
isim.log
lcd_init_refresh_isim_beh.exe
lcd_init_refresh_isim_beh.wdb
lcd_init_refresh_stx_beh.prj
main_controller_stx_beh.prj
tb_isim_beh.exe
top.cmd_log
top.ngc
top.ngr
top.syr
top_xst.xrpt
webtalk_pn.xml
xilinxsim.ini
xst
