*.prj
*.stx
*.xst
*.lso
xst



.lso
xst.xmsgs
fuse.log
isim
isim.cmd
isim.log
lcd_init_refresh_isim_beh.exe
lcd_init_refresh_isim_beh.wdb
lcd_init_refresh_stx_beh.prj
main_controller_stx_beh.prj
tb_isim_beh.exe
top.cmd_log
top.ngc
top.ngr
top.syr
top_xst.xrpt
webtalk_pn.xml
xilinxsim.ini
xst

sejf/_ngo/netlist.lst
sejf/_xmsgs/bitgen.xmsgs
sejf/_xmsgs/map.xmsgs
sejf/_xmsgs/ngdbuild.xmsgs
sejf/_xmsgs/par.xmsgs
sejf/_xmsgs/pn_parser.xmsgs
sejf/_xmsgs/trce.xmsgs
sejf/iseconfig/top.xreport
sejf/netgen/translate/top_translate.nlf
sejf/netgen/translate/top_translate.v
sejf/sejf.gise
sejf/tb_isim_beh.wdb
sejf/tb_isim_translate.exe
sejf/tb_isim_translate.wdb
sejf/top.bgn
sejf/top.bit
sejf/top.bld
sejf/top.drc
sejf/top.ncd
sejf/top.ngd
sejf/top.pad
sejf/top.par
sejf/top.pcf
sejf/top.ptwx
sejf/top.twr
sejf/top.twx
sejf/top.unroutes
sejf/top.ut
sejf/top.xpi
sejf/top_envsettings.html
sejf/top_isim_beh.exe
sejf/top_map.map
sejf/top_map.mrp
sejf/top_map.ncd
sejf/top_map.ngm
sejf/top_map.xrpt
sejf/top_ngdbuild.xrpt
sejf/top_pad.csv
sejf/top_pad.txt
sejf/top_par.xrpt
sejf/top_summary.html
sejf/top_summary.xml
sejf/top_usage.xml
sejf/webtalk.log
sejf/xlnx_auto_0_xdb/cst.xbcd

