#Location Constraints on ug334 board
#Sparta-3AN, Xilinx
# On this board, VCCAUX is 3.3 volts.

CONFIG VCCAUX = "3.3" ;

# Configure SUSPEND mode options.
 
CONFIG ENABLE_SUSPEND = "NO" ;

# FILTERED is appropriate for use with the switch on this board. Other allowed
# settings are NO or UNFILTERED.  If set NO, the AWAKE pin becomes general I/O.
# Please read the FPGA User Guide for more information.

# Configure POST_CRC options.

CONFIG POST_CRC = "DISABLE" ;

NET "clk"       LOC = "E12"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;
#OFFSET = IN  10.000 VALID 20.000 BEFORE "clk" ;
#OFFSET = OUT 20.000 AFTER "clk" ;

NET "reset"	LOC = "R13" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#NET "in"	LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#Character LCD Screen
NET "E" LOC = "AB4" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "RS" LOC = "Y14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "RW" LOC = "W13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<7>" LOC = "Y15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<6>" LOC = "AB16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<5>" LOC = "Y16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<4>" LOC = "AA12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<3>" LOC = "AB12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<2>" LOC = "AB17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<1>" LOC = "AB18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "DB<0>" LOC = "Y13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "open"	LOC = "T14" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "lock"	LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "doorCls"	LOC = "V8" | IOSTANDARD = LVCMOS33;
#NET "a"	LOC = "T13" | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "b"	LOC = "R14" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "a"	LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN  ;
NET "b"	LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN  ;

NET "actuateLock"	LOC = "R20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "openCls"	LOC = "T19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET "outDirch"	LOC = "V19" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "outUp"	LOC = "V20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "outCnten"	LOC = "Y22" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "safeOpen"	LOC = "U20" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;



#
#UG334 - Spartan-3AN
